<mat-sidenav-container class = "sidenav-cont-cont">
  <mat-sidenav-container class="sidenav-cont">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        <p class="video video-description"></p>
        <video #local_video [autoplay]="true" [muted]="false"></video>
      </mat-grid-tile>

      <!-- Remote videos -->
      <mat-grid-tile *ngFor="let vid of getRemoteStreams()">
        <p class="video video-description">Other</p>
        <video [srcObject]="vid" [autoplay]="true" [muted]="false"></video>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-container>

  <footer class="footer">
    <mat-toolbar id = "footer">

      <button mat-raised-button color="warn">Audio</button>
      <button mat-raised-button color="warn">Video</button>
      <button mat-flat-button color="warn" routerLink="../welcome" id="leave">Leave Meeting</button>

    </mat-toolbar>
  </footer>
</mat-sidenav-container>
