#sticky_footer{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 3;
}

.move_video_buttons{
  opacity: 0.3;
  background: inherit !important;
  z-index: 3;
}

#move_right{
  position: absolute;
  margin-right: 1px;
  top: 50%;
  right: 0;
}

#move_left{
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 1px;
}

.move_video_buttons:hover{
  opacity: 0.9;
  background: inherit!important;
}

p.video-description{
  position: absolute;
  top: 0px;
  margin-top: 1vmin!important;
  left: 10px;
  font-size: 4vh;
  font-family: "Times New Roman", Times, serif;
}

.video-icon{
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*left: 10px;*/
  /*font-size: 4vh;*/
}

.sidenav-cont{
  width: 100%;
}

.sidenav-cont-cont{
  width: 100%;
  z-index: 2;
  overflow: hidden;
  position: relative;
  background: #333333;
}

.meeting_buttons{
  height: 100%;
}

#leave{
  display: block;
  position: absolute;
  right:0;
  margin-right: 4px;
}
#leave_short{
  display: none;
  position: absolute;
  right:0;
  margin-right: 4px;
}

#message-hint{
  color: white!important;
}

@media screen and (max-width: 380px){
  .meeting_buttons{
    min-width: 2%!important;
    margin: 0!important;
  }
  #sticky_footer .mat-icon{
    font-size: 5vh!important;
    height: 5vh!important;
  }
  #sticky_footer .mat-flat-button{
    line-height: 5vh!important;
  }
  ::ng-deep mat-toolbar{
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  #leave_short{
    padding-right: 0!important;
  }
  .meeting_buttons{
    margin-right: 0!important;
  }
}

@media screen and (max-width: 640px) {
  .meeting_buttons{
    min-width: 1%!important;
  }
  #sticky_footer .mat-icon{
    font-size: 5vh;
    height: 5vh;
  }
  #sticky_footer .mat-flat-button{
    line-height: 5vh;
  }
  #sticky_footer .mat-flat-button .button_helpers{
    display: none
  }
}

@media screen and (min-width: 1720px) {
  #sticky_footer .mat-flat-button .button_helpers{
    margin-left: 1vw;
  }
  p.video-description{
    margin-top: 2vmin!important;
  }
}

@media screen and (min-width: 3012px) {
  #sticky_footer .mat-flat-button .button_helpers{
    margin-left: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  #leave{
    font-size: 36px;
  }
  .meeting_buttons{
    min-width: 8%;
  }
  #sticky_footer .mat-icon{
    font-size: 5vh;
    height: 4vh;
    min-width: 30px;
  }
  #sticky_footer .mat-flat-button{
    line-height: 5vh;
  }
  #sticky_footer .mat-flat-button .button_helpers{
    font-size: 3vh;
  }
}

@media screen and (max-height: 480px){
  #sticky_footer .mat-flat-button .button_helpers{
    display: none
  }
  #sticky_footer .mat-icon{
    font-size: 8vh!important;
    height: 8vh!important;
  }
  #sticky_footer .mat-flat-button{
    line-height: 8vh!important;
  }
  #leave_short{
    font-size: 4vh;
    line-height: 4vh;
  }

}

@media screen and (max-width: 1200px) {
  #sticky_footer .mat-flat-button{
    line-height: 4vh;
  }
  #sticky_footer .mat-flat-button .mat-icon{
    font-size: 4vh;
    height: 4vh;
    min-width: 30px;
  }
  #sticky_footer .mat-flat-button .button_helpers{
    height: 1vh;
    font-size: 2vh;
  }
  #leave_short{
    display: block;
    font-size: 5vh;
    line-height: 5vh;
  }
  #leave{
    display: none;
  }
}

/*chat shit*/
.chatbox{
  background:  #333333;
  padding-bottom: 0 !important;
}

#meeting-updates{
  position: absolute;
  top: 0!important;
  margin-right: 1px;
  right: 0;
  z-index: 3;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.update-message{
  opacity: 0.4;
  color: #53e3a6 !important;
  width: 100%;
  font-size: 3vh!important;
}

#role-update-message{
  font-family: "Times New Roman", Times, serif;
  color: #50a3a2;
  font-size: 4vh!important;
  margin-right: auto;
  margin-left: auto;
}

#role-update-message-div{
  z-index: 3;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0!important;
  margin-bottom: 1px;
}

.messageReceiveDiv{
  border-radius: 0 !important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
  overflow:auto !important;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  margin-top: 4px !important;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messagebox{
  width: 100%;
  overflow-y: auto;
}

.messagesSEND{
  width: 95%;
  word-break: break-word !important;
  hyphens: auto !important;
}

.messagesRECIVE{
  background-color: grey;
  text-align: left !important;
  word-break: break-word !important;
  hyphens: auto !important;
}

.chatInput{
  border-top: grey;
  border-top-style: groove;
  padding-top: 5px;
  width: 100%;
  bottom: 0 !important;
  position: absolute;
  padding-bottom: 0 !important;
  margin-bottom: 0!important;
}

#message-input{
  width: 95%;
  padding-left: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #50a3a2;
}

/*========*/

.videoGrid{
  background-color: #333333;
  padding: 0!important;
}

.mat-drawer-content{
  padding: 0!important;
}
