<mat-sidenav-container class = "sidenav-cont-cont">
  <mat-sidenav-container class="sidenav-cont">
    <mat-grid-list cols="2" rowHeight="fit" style="height: 820px">
      <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        <p class="video video-description"></p>
        <video #local_video [autoplay]="true" [muted]="false"></video>
      </mat-grid-tile>

      <!-- Remote videos -->
      <mat-grid-tile *ngFor="let vid of getRemoteStreams()">
        <p class="video video-description">Other</p>
        <video [srcObject]="vid" [autoplay]="true" [muted]="false"></video>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-container>

  <footer class="footer">
    <mat-toolbar id = "footer">
      <button class = mat-flat-button (click)="start(true)">Start</button>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="audio = !audio">
        <mat-icon>{{audio ? 'volume_up' : 'volume_off'}}</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="video = !video">
        <mat-icon>{{video ? 'videocam' : 'videocam_off'}}</mat-icon>
      </button>
      <button mat-flat-button color="warn" routerLink="../welcome" id="leave">Leave Meeting</button>

    </mat-toolbar>
  </footer>
</mat-sidenav-container>
