.tile{
border:1px solid black;
}

.video{
  object-fit: fill;
}

#videos{
  padding: 0 !important;
  border:1px solid black;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: white;
}

p.video-description{
  position: absolute;
  top: 0px;
  left: 10px;
}

.mat-fab {
  margin: 1em;
}

.sidenav-cont-cont{
  z-index: 2;
  margin: 0!important;
  padding: 0!important;
  display: block;
}

.move_video_buttons{
  opacity: 0.3;
  background: inherit !important;
  color: #53e3a6!important;
}

#move_right{
  float: right;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 97%;
  transform: translate(-50%, -50%);
}

 #move_left{
   float: left;
   position: fixed;
   margin: auto;
   top: 50%;
   left: 3%;
   transform: translate(-50%, -50%);
 }

 .move_video_buttons:hover{
   opacity: 0.9;
   background: inherit!important;
   color: #53e3a6;
 }


#sticky_footer{
  height: 4rem;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#footer{
  height: 100%;
  width: 100%;
}

.meeting_buttons{
  padding-bottom: 0;
}

#leave{
  display: block;
  position: absolute;
  right:0;
  margin-right: 4px;
}
#leave_short{
  display: none;
  position: absolute;
  right:0;
  margin-right: 4px;
}

@media (max-width: 1200px) {
  .mat-fab{
    margin: 0;
    float: left;
  }
  #leave_short{
    display: block;
  }
  #leave{
    display: none;
  }
}

/* Below is the chat box style */
.chat-list {
  width: 500px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.chat-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.chat-list > li:last-child {
  border-bottom: none;
}
