video {
  width: 100%;
  background: grey;
}

p.video-description{
  position: absolute;
  top: 0px;
  left: 10px;
}

.mat-fab {
  margin: 1em;
}


.sidenav-cont{
  height: 90%;
  width: 100%;
}

.sidenav-cont-cont{
  height:90%;
  width: 100%;
  z-index: 2;
}

.footer{
  position:fixed;
  height: 10%;
  width: 100%;
}

#footer{
  height: 100%;
  width: 100%;
}
#leave{
  display: block;
  position: absolute;
  right:0;
  margin-right: 4px;
}
#leave_short{
  display: none;
  position: absolute;
  right:0;
  margin-right: 4px;
}

@media (max-width: 1200px) {
  .sidenav-cont {
    width: 60%;
  }
  .mat-fab{
    margin: 0;
    float: left;
  }
  #leave_short{
    display: block;
  }
  #leave{
    display: none;
  }
}

/* Below is the chat box style */
.chat-list {
  width: 500px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.chat-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.chat-list > li:last-child {
  border-bottom: none;
}
