#confirm_end_meeting{
  z-index: 3;
  background: #50a3a2;
  border-radius: 16px;
  margin-bottom: 4px;
}

#headerdialog{
  text-align: center;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2px !important;
}

#content{
  margin-top: 16px !important;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.dialog{
  margin-right: 12px;
  margin-left: 12px;
}

.mat-divider{
  color: #333333;
}

#confirm_leave_button{
  background: #c62828;
  color: #333333;
  font-weight: bold;
}

#confirm_leave_button_admin{
  background: #333333;
  color: #c62828;
  font-weight: bold;
}

#confirm_end_button{
  background: #c62828;
  color: #333333;
  font-weight: bold;
}

#confirm_cancel_button{
  color: #53e3a6;
  font-weight: lighter;
  background-color: #333333;
}

.end_button{
  opacity: 0.9;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  font-size: 16px;
}
