
<mat-sidenav-container class = "sidenav-cont-cont">
  <h1 class="mat-display-1" id="join_meeting_header">Join Meeting</h1>
  <mat-sidenav-container class = "sidenav-cont">
    <section>
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="accent">
          <mat-label>Enter Meeting ID</mat-label>
          <input matInput placeholder="Meeting Name" [(ngModel)]="meeting.meetingID">
        </mat-form-field>
      </div>
    </section>
    <section>
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="accent">
          <mat-label>Enter Meeting Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="meeting.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </section>
    <hr class="my-4">
  </mat-sidenav-container>
  <mat-sidenav-container class = "sidenav-button">
    <button mat-raised-button color="primary" (click)="joinMeeting()" routerLink="../meeting" id="join_meeting_submit">Join</button>
  </mat-sidenav-container>
</mat-sidenav-container>
<!--=======-->
<!--&lt;!&ndash;//<p>join-meeting works!</p>&ndash;&gt;-->

<!--<mat-sidenav-container class = "sidenav-cont" [ngClass]="{'dark-theme-mode':isDark, 'light-theme-mode':!isDark}">-->
<!--  <mat-sidenav-container>-->
<!--    <mat-toolbar color="primary">-->
<!--      <span>Join Meeting</span>-->
<!--      <span style="flex:auto"></span>-->
<!--      <mat-slide-toggle-->
<!--        [checked]="isDark === true"-->
<!--        (change) = "setValue($event)">-->
<!--        Dark Mode</mat-slide-toggle>-->
<!--    </mat-toolbar>-->

<!--  </mat-sidenav-container>-->

<!--  <section>-->
<!--    <div class="form-component-row">-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Enter Meeting ID</mat-label>-->
<!--        <input matInput placeholder="Meeting Name" [(ngModel)]="meeting.id">-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </section>-->

<!--  <section>-->
<!--    <div class="form-component-row">-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Enter Meeting Password</mat-label>-->
<!--        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="meeting.password1">-->
<!--        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                [attr.aria-pressed]="hide">-->
<!--          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--        </button>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </section>-->

<!--&lt;!&ndash;  <section>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="form-component-row">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-form-field appearance="fill">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>reEnter Meeting Password</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="meeting.password2">&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"&ndash;&gt;-->
<!--&lt;!&ndash;                [attr.aria-pressed]="hide" >&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->

<!--  <section>-->
<!--    <div class="form-component-row">-->

<!--      <button mat-stroked-button color="primary" (click)="joinMeeting()" routerLink="../meeting">Join meeting!</button>-->
<!--      <button mat-stroked-button color="primary" routerLink="../" mat-stroked-buttun color="primary">Cancel</button>-->

<!--    </div>-->
<!--  </section>-->


<!--</mat-sidenav-container>-->

<!--<footer class ="footer" [ngClass]="{'dark-theme-mode':isDark, 'light-theme-mode':!isDark}">-->
<!--  <mat-toolbar color="primary">-->
<!--    <span>Footer</span>-->
<!--  </mat-toolbar>-->
<!--</footer>-->
<!--&gt;>>>>>> added custom theme which can be configured based on our chosen color scheme-->
