<mat-sidenav-container class = "sidenav-cont-cont">
  <h1 class="mat-display-1" id="create_meeting_header">Create Meeting</h1>
  <mat-sidenav-container class = "sidenav-cont">
    <form [formGroup]="createMeetingForm">
    <section>
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="primary">
          <mat-icon matPrefix class="icons">fingerprint</mat-icon>
          <mat-label id="meeting_name_label">Enter Meeting Name</mat-label>
          <input matInput placeholder="Meeting Name" (keyup)="test($event)" [(ngModel)]="meeting.name" [errorStateMatcher]="matcher" formControlName="meetingName"  id="meeting_name_input">
          <mat-error *ngIf="createMeetingForm.controls['meetingName'].invalid">{{getMeetingNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </section>
      <section>
        <div class="form-component-row" >
          <mat-slide-toggle class="form-field" id="testID" (change)="setValue($event)">
            <mat-label id="test">Advanced Settings</mat-label>
          </mat-slide-toggle>
        </div>
      </section>
    <section>
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="primary" *ngIf="advanceOption">
          <mat-icon matPrefix class="icons">lock</mat-icon>
          <mat-label id="meeting_password1_label">Enter Meeting Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" (keyup)="test($event)" [(ngModel)]="meeting.password" [errorStateMatcher]="matcher" formControlName="password"  id="meeting_password1_input">
          <mat-error align="start" *ngIf="createMeetingForm.controls['password'].invalid">
            {{getPasswordErrorMessage()}}
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" id="meeting_password1_hide_button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </section>
    <section>
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="primary" *ngIf="advanceOption">
          <mat-icon matPrefix class="icons">lock</mat-icon>
          <mat-label id="meeting_password2_label" >Confirm Meeting Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="meeting.passwordConfirm" formControlName="confirmPassword" id="meeting_password2_input">
          <mat-error *ngIf="createMeetingForm.controls['confirmPassword'].invalid">{{getPasswordMatchErrorMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" id="meeting_password2_hide_button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </section>
    <section>
    <mat-form-field appearance="fill" class="form-field" color="primary" *ngIf="advanceOption">
      <mat-icon matPrefix class="icons">email</mat-icon>
      <mat-label>Add Emails</mat-label>
      <mat-chip-list #chipList aria-label="Email selection">
        <mat-chip *ngFor="let email of emails" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(email)">
          {{email.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New email..."
               formControlName="email"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addEmail($event)">
        <mat-error *ngIf="createMeetingForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-chip-list>
    </mat-form-field>
    </section>
    </form>
    <mat-divider></mat-divider>
  </mat-sidenav-container>
  <mat-sidenav-container class = "sidenav-button">
    <button mat-raised-button (click)="createMeeting()" [disabled]="createMeetingForm.controls['meetingName'].invalid" color="primary" id="create_meeting_submit">Create</button>
  </mat-sidenav-container>

</mat-sidenav-container>

