<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary=".cdk-overlay-container"
     cdkDragHandle
     mat-dialog-content id = "meeting_info_dialog">
  <h3 id = "meeting_info_header">Meeting Information</h3>
  <mat-divider id = "meeting_info_divider"></mat-divider>
  <ul id="meeting_info_list">
    <li *ngIf="data.name">
      <span>Name: </span><span [innerHTML]='data.name'></span>
    </li>
    <li *ngIf="data.user">
      <span>User Type: </span><span [innerHTML]='data.user.getRole()'></span>
    </li>
    <li *ngIf="data.meeting_id">
      <span>Meeting ID: </span><span [innerHTML]='data.meeting_id'></span>
      <button mat-icon-button [cdkCopyToClipboard]="toString(data.meeting_id)" class="copy-button">
        <mat-icon class="content-copy-icon">content_copy</mat-icon>
      </button>
    </li>
    <li *ngIf="data.password">
      <span>Password: </span><span [innerHTML]='data.password'></span>
    </li>
  </ul>
</div>

