#meeting_info_dialog{
  background-color: #333333;
  color: white;
  opacity: 0.7 !important;
  border-radius: 10px;
  border-style: groove;
  border-color: white;
  font-family: "Times New Roman", Times, serif;
}

#meeting_info_header{
  margin-bottom: 4px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
}

.password-span{
  font-size: 17px!important;
}

#meeting_info_divider{
  color: white;
  margin-top: 0!important;
  padding-top: 0!important;
}

#meeting_info_list{
  color: #53e3a6;
  list-style-type: none;
  padding-top: 2px;
  margin-top: 2px;
  float: left !important;
  padding-left: 10px;
  font-size: 16px;
}

.copy-icon{
  margin-left: 8px!important;
  font-size: 16px !important;
  background-color: transparent!important;
  color: white;
  cursor: pointer;
}
