#meeting_info_dialog{
  background-color: #333333;
  color: white;
  opacity: 0.6 !important;
  border-radius: 10px;
  border-style: groove;
  border-color: white;
  font-family: "Times New Roman", Times, serif;
}

#meeting_info_header{
  margin-bottom: 2px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#meeting_info_divider{
  color: white;
  margin-top: 0!important;
  padding-top: 0!important;
}

#meeting_info_list{
  color: #53e3a6;
  list-style-type: none;
  padding-top: 4px;
  float: left !important;
  padding-left: 10px;
}

.content-copy-icon{
  font-size: 10px !important;
}

.copy-button{
  background: inherit;
}
