.sidenav-cont-cont{
  background-color: inherit;
  margin-top: 5%;
  z-index: 2;
}

.sidenav-cont{
  background-color: inherit;
  width: 60%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome_button_short {
  display: none;
  height: 80px;
  font-size: 50px;
  float: left;
  opacity: 0.9;
}

.welcome_button{
  width: 45%;
  height: 80px;
  margin-left: 2.5%;
  font-size: 50px;
}

@media (max-width: 1200px) {
  .welcome_button_short {
    display: inline-block;
    width: 80%;
    margin-top: 20px;}
  .sidenav-cont{
    left: 55%;
  }
  .welcome_button { display: none; }
}
