.sidenav-cont-cont{
  background-color: inherit;
  margin-top: 5%;
  flex-direction: column;
  height: 60%;
  z-index: 2;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.sidenav-cont{
  background-color: inherit;
  width: 60%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26vw;
  height: 18vh;
  font-size: 16vw;
  border-radius: 10px !important;
}

.an-1 {
  background-color: inherit;
  font-weight: 90;
  font-size: 8vw;
  line-height: 12vw;
  font-family: "Times New Roman", Times, serif;
  margin: 0 auto;
}
