<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container class="output" [ngClass]="{'dark-theme-mode':themeService.darkmode, 'light-theme-mode':!themeService.darkmode}">
    <mat-toolbar id="header">
      <button mat-flat-button class="header" routerLink="/welcome">Oblivion</button>
      <span class="example-spacer"></span>
      <mat-slide-toggle id="toggle"
        (change) = "setValue($event)">
        Dark Mode
      </mat-slide-toggle>
    </mat-toolbar>

  <mat-sidenav-container id="router_content" autosize="true">
    <router-outlet class="router"></router-outlet>
  </mat-sidenav-container>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</mat-sidenav-container>
