<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container class="output" [ngClass]="{'dark-theme-mode':globals.darkMode, 'light-theme-mode':!globals.darkMode}">
  <mat-sidenav-container id="top">
    <mat-toolbar id="header">
      <span class="header" routerLink="/welcome">Oblivion</span>
      <span style="flex:auto"></span>
      <mat-slide-toggle id="toggle"
        (change) = "setValue($event)">
        Dark Mode
      </mat-slide-toggle>
      <mat-slide-toggle id="toggle_short"
        (change) = "setValue($event)">
      </mat-slide-toggle>
    </mat-toolbar>
  </mat-sidenav-container>

  <router-outlet class="router"></router-outlet>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</mat-sidenav-container>
