.router{
  width:100%;
  height: 90%;
}

#router_content{
  z-index: 2;
  background: inherit;
}

.output{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
}

#toggle{
  z-index: 2;
  float: right;
}

#toggle_short{
  display: none;
}

@media (max-width: 1200px) {
  #toggle_short {
    display: block;
    float: right;}
  #toggle{
    display: none;
  }
}

.header:focus{
  outline: 0;
}

.header{
  font-size: 45px;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Times New Roman", Times, serif;
  z-index: 2;
}

#header{
  background-color:#333333;
  color:#50a3a2;
  z-index: 2;
  height: 100%;
}
#top{
  z-index: 2;
  height: 4rem;
  padding-bottom: 0!important;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  margin: 0!important;
  padding: 0!important;
}

.bg-bubbles li{
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  bottom: -160px;
  opacity: 0.2;

  -webkit-animation: square 25s infinite;
  animation:         square 25s infinite;

  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1){
  left: 10%;
}

.bg-bubbles li:nth-child(2){
   left: 20%;

   width: 80px;
   height: 80px;

   animation-delay: 2s;
   animation-duration: 17s;
}

.bg-bubbles li:nth-child(3){
   left: 25%;
   animation-delay: 4s;
 }

.bg-bubbles li:nth-child(4){
   left: 40%;
   width: 60px;
   height: 60px;

   animation-duration: 22s;
   background-color: white;
 }

.bg-bubbles li:nth-child(5){
   left: 70%;
 }

.bg-bubbles li:nth-child(6){
   left: 80%;
   width: 120px;
   height: 120px;

   animation-delay: 3s;
   background-color: white;
 }

.bg-bubbles li:nth-child(7){
   left: 32%;
   width: 160px;
   height: 160px;

   animation-delay: 7s;
 }

.bg-bubbles li:nth-child(8){
   left: 55%;
   width: 20px;
   height: 20px;

   animation-delay: 15s;
   animation-duration: 40s;
 }

.bg-bubbles li:nth-child(9){
   left: 25%;
   width: 10px;
   height: 10px;

   animation-delay: 2s;
   animation-duration: 40s;
   background-color: white;
 }

.bg-bubbles li:nth-child(10){
   left: 90%;
   width: 160px;
   height: 160px;

   animation-delay: 11s;
 }

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-1200px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-1200px) rotate(600deg); }
}
