<div mat-dialog-content id = "user_enter_meeting_dialog">
  <h1 id = "user_enter_meeting_header">Confirm Settings</h1>
  <mat-divider id = "meeting_info_divider"></mat-divider>
  <div class = "row">
    <div class ="column" id="video-audio-card">
        <h3 id="video-audio-card-header">Video & Audio Settings</h3>
        <video [srcObject]="getLocalStream()"
               [autoplay]="true"
               [muted]="true"
               class="video"></video>
        <div id="video-buttons">
          <button mat-raised-button (click)="changeAudio()" class="settings-button" id="audio-button">
            <mat-icon>{{data.audio ? 'volume_up' : 'volume_off'}}</mat-icon>
          </button>
          <button mat-raised-button (click)="changeVideo()" class="settings-button" id="video-button">
            <mat-icon>{{data.video ? 'videocam' : 'videocam_off'}}</mat-icon>
          </button>
        </div>
    </div>

    <div class ="column" id="input-data">
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="primary" id="user_name_field">
          <mat-icon matPrefix class="icons" id="form-field-icon">person</mat-icon>
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="data.userName">
        </mat-form-field>
      </div>
      <mat-divider id = "meeting_info_form_divider"></mat-divider>
      <div id = "submit_buttons">
        <button mat-raised-button (click)="onYesClick()" id = "submit_button">
          Start
        </button>
      </div>
    </div>
  </div>
</div>


