<div mat-dialog-content id = "user_enter_meeting_dialog">
  <div id = "cancel_button_div">
    <button mat-icon-button (click)="onNoClick()" id = "cancel_button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 id = "user_enter_meeting_header">Confirm Settings</h1>
  <mat-divider id = "meeting_info_divider"></mat-divider>
  <div class = "row">
    <div class ="column">
      <mat-card id="video-audio-card">
        <mat-card-header id="video-audio-card-header-container">
          <mat-card-title id="video-audio-card-header">Video & Audio Settings</mat-card-title>
        </mat-card-header>
        <video [srcObject]="getLocalStream()"
               [autoplay]="true"
               [muted]="true"
               [style.height.px]="220"
               class="video"></video>
        <mat-card-actions>
          <button mat-fab color="primary" (click)="changeAudio()" id = "audio_button">
            <mat-icon>{{data.audio ? 'volume_up' : 'volume_off'}}</mat-icon>
          </button>
          <button mat-fab color="primary" (click)="changeVideo()" id = "video_button">
            <mat-icon>{{data.video ? 'videocam' : 'videocam_off'}}</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class ="column" id="input-data">
      <div class="form-component-row">
        <mat-form-field appearance="fill" class="form-field" color="primary" id="user_name_field">
          <mat-icon matPrefix class="icons" id="form-field-icon">person</mat-icon>
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="data.userName">
        </mat-form-field>
      </div>
      <mat-divider id = "meeting_info_form_divider"></mat-divider>
      <div id = "submit_buttons">
        <button mat-raised-button (click)="onYesClick()" id = "submit_button">
          Start
        </button>
      </div>
    </div>
  </div>
</div>


