@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@mixin html-theme($theme,$background,$background2, $text,$button_text,$button_background,$button_cancel, $button_footer) {
  & {
    background: $background;
    background: -webkit-linear-gradient(top left, $background 0%, $background2 100%);
    background: -moz-linear-gradient(top left, $background 0%, $background2 100%);
    background: -o-linear-gradient(top left, $background 0%, $background2 100%);
    background: linear-gradient(to bottom right, $background 0%, $background2 100%);
    #test{
      color: $text;
    }
    #sticky_footer{
      background: $background;
      background: -webkit-linear-gradient(top left, $background 0%, $background2 100%);
      background: -moz-linear-gradient(top left, $background 0%, $background2 100%);
      background: -o-linear-gradient(top left, $background 0%, $background2 100%);
      background: linear-gradient(to bottom right, $background 0%, $background2 100%);
    }

    #sticky_footer .mat-flat-button{
      color: $button_background;
      background-color: transparent;
    }

    #sticky_footer #leave{
      height: 80%;
      background: $button_background !important;
      color: $button_text!important;
    }
    #sticky_footer #leave_short{
      height: 80%;
      background: $button_background !important;
      color: $button_text!important;
    }

    #sticky_footer .mat-flat-button:hover{
      background-color: $button_cancel!important;
    }

    .mat-input-element {
      color: $text !important;
      font-family: "Times New Roman", Times, serif;
    }

    .mat-form-field-ripple {
      color:$text !important;
      background-color: $text !important;
    }

    .mat-focused .mat-form-field-label {
      color:$text !important;
      font-family: "Times New Roman", Times, serif;
    }

    .mat-form-field-appearance-fill, .mat-form-field-outline-fill, .mat-form-field-underline{
      color: $text !important;
      font-family: "Times New Roman", Times, serif;
    }

    .mat-raised-button{
      background: $button_background;
      color: $button_text;
      opacity: 0.9;
      font-family: "Times New Roman", Times, serif;
      border-radius: 5px;
      font-weight: lighter;
    }

    .mat-raised-button .mat-ripple-element {
      background-color: $button_text !important;
      opacity: 0.2 !important;
    }

    .mat-flat-button{
      font-family: "Times New Roman", Times, serif;
      color: $button_cancel;
    }

    .an-1{
      color: $text;
    }
    .mat-display-1{
      color: $text;
      font-family: "Times New Roman", Times, serif;
    }

    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
      background-color: #607d8b;
    }
    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
      background-color: #50a3a2;
    }
    .mat-slide-toggle-label{
      color: #50a3a2;
    }
    .chatInput mat-form-field{
      font-size: 3vh!important;
    }

    .chatInput .mat-form-field-underline {
      background-color: white !important;
    }

    .chatInput .mat-form-field-ripple {
      background-color: #53e3a6 !important;
    }

    //Make label white for message input
    .chatInput .mat-focused .mat-form-field-label {
      color: white !important;
      font-family: "Times New Roman", Times, serif;
    }

    //change the color of the input to white
    .chatInput .mat-input-element {
      color: white !important;
      font-family: "Times New Roman", Times, serif;
    }
  }
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// -------------- light theme -------------- //
$light-app-primary: mat-palette($mat-grey, 50);
$light-app-accent:  mat-palette($mat-blue-grey, 600, 500, 400);
$light-app-warn:    mat-palette($mat-grey,A900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$light-app-theme: mat-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent,
    warn: $light-app-warn,
  )
));
$light-app-theme-text: white;
$light-app-theme-background: #50a3a2;
$light-app-theme-background2: #53e3a6;
$light-app-theme-button_text: #53e3a6;
$light-app-theme-button_background: white;
$light-app-theme-button_cancel: #50a3a2;
$light-app-theme-button_footer: white;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// -------------- light theme -------------- //



// -------------- dark theme -------------- //

$dark-app-primary: mat-palette($mat-blue-gray, 500);
$dark-app-accent:  mat-palette($mat-cyan, 200);
$dark-app-warn: mat-palette($mat-red,900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$dark-app-theme: mat-light-theme((
  color: (
    primary: $dark-app-primary,
    accent: $dark-app-accent,
    warn: $dark-app-warn,
  )
));
$dark-app-theme-text: #333333;
$dark-app-theme-background: #50a3a2;
$dark-app-theme-background2: #333333;
$dark-app-theme-button_text: #50a3a2;
$dark-app-theme-button_background: #333333;
$dark-app-theme-button_cancel: #333333;
$dark-app-theme-button_footer: #53e3a6;


.dark-theme-mode {
  @include angular-material-theme($dark-app-theme);
}

@at-root .output.dark-theme-mode {
  @include html-theme($dark-app-theme,$dark-app-theme-background,$dark-app-theme-background2,
    $dark-app-theme-text,
    $dark-app-theme-button_text,
    $dark-app-theme-button_background,
    $dark-app-theme-button_cancel,
    $dark-app-theme-button_footer);
}



.light-theme-mode{
  @include angular-material-theme($light-app-theme);
}

@at-root .output.light-theme-mode {
  @include html-theme($light-app-theme,
    $light-app-theme-background,
    $light-app-theme-background2,
    $light-app-theme-text,
    $light-app-theme-button_text,
    $light-app-theme-button_background,
    $light-app-theme-button_cancel,
    $light-app-theme-button_footer
  );
}
